@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
body{
    font-family: 'Fresca', sans-serif;
    background: url('https://plus.unsplash.com/premium_photo-1679860751413-751d597e21fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njd8fGZvcm11bGFyaW98ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60') no-repeat center center/cover;
}
h2{
    margin-top:20px;
}
form{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    padding:10px;
    width: 100vh;
    margin:0 auto;
}
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
